.navy {
    background-color: rgb(199, 47, 47);
}
.cent {
    text-align: center;
}
.br {
    height: 15vw;
    padding: 0vw;
}
.bn2 {
    height: 5vw;
    padding: 0vw;
    color: white;
    width: 5vw;
    margin: 1vw;
}
.division {
    border: 2px solid black;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    height: 8vw;
}
.divisionafc {
    border: 2px solid black;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    color: white;
    background-color:rgb(199, 47, 47);
    text-align: center;

}
.divisionnfc {
    border: 2px solid black;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    color: white;
    background-color:rgb(22, 67, 135);
    text-align: center;
}
.navs {
    background-color:rgb(22, 67, 135);
}
.north {
    width: 45%;
}
.south {
    width: 45%;
}

.t1 {
    width: 4vw;
}
.t2 {
    width: 5vw;
}
.t3 {
    width: 4vw;
}
.t4 {
    width: 5vw;
}
.t5 {
    width: 5vw;
}
.t6 {
    width: 5vw;
}
.t7 {
    width: 5vw;
}
.t8 {
    width: 5vw;
}
.t9 {
    width: 5vw;
}
.t10 {
    width: 5vw;
}
.t11 {
    width: 5vw;
}
.t12 {
    width: 5vw;
}
.t13 {
    width: 5vw;
}
.t14 {
    width: 6vw;
}
.t15 {
    width: 5vw;
}
.t16 {
    width: 6vw;
}

.record {
    display: inline;
}

.inv {
    color: white;
}