.navy {
    background-color: rgb(199, 47, 47);
    border-bottom: .5vw solid rgb(231, 215, 123);
}
.cent {
    text-align: center;
}
.br {
    height: 10vw;
    padding: 0vw;
}
.bn2 {
    height: 5vw;
    padding: 0vw;
    color: white;
    width: 5vw;
    margin: 1vw;
}
.division {
    border: 2px solid black;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    height: 9vw;
}
.divisionafc {
    border: 2px solid black;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    color: white;
    background-color:rgb(199, 47, 47);
    text-align: center;

}
.divisionnfc {
    border: 2px solid black;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    color: white;
    background-color:rgb(22, 67, 135);
    text-align: center;
}
.navs {
    background-color:rgb(22, 67, 135);
}
.north {
    width: 45%;
}
.south {
    width: 45%;
}
.east {
    width: 45%;
}
.west {
    width: 45%;
}

.score {
    font-weight: 600;
    font-size: 1.25vw;
}
  
  .name {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .team-name {
    margin-right: 1vw; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 2vw;
  }
  .align {
    text-align: center;
  }
.sim {
    border: .1vw solid black;
    border-radius: 2vw;
    background-color: white;
    width: 15vw;
    text-align: center;
}

.t1 {
    width: 4vw;
}
.t2 {
    width: 5vw;
}
.t3 {
    width: 4vw;
}
.t4 {
    width: 5vw;
}
.t5 {
    width: 5vw;
}
.t6 {
    width: 5vw;
}
.t7 {
    width: 5vw;
}
.t8 {
    width: 5vw;
}
.t9 {
    width: 5vw;
}
.t10 {
    width: 5vw;
}
.t11 {
    width: 5vw;
}
.t12 {
    width: 5vw;
}
.t13 {
    width: 5vw;
}
.t14 {
    width: 6vw;
}
.t15 {
    width: 5vw;
}
.t16 {
    width: 6vw;
}

.record {
    display: inline;
    width: 100vw;
    height: 1vw;
    
}

.inv {
    color: white;
}
